* {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* need to change gradient colour */
  background: linear-gradient(to right, #a123db 0%, rgb(196, 58, 58));
  opacity: 0.5;
}
button:active,
button:focus {
  outline: none;
}
input:focus {
  outline: none
}