$text-color: #c4c4c4;
.rads{
  display: inline-block;
}
.fa-check {
  color: #94227b;
}
.border-box{
  font-size: 1rem;
  padding: 5px 5px;
  color: #c6a3ff;
  border: 1px solid;
  border-radius: 5px;
}
.layout-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .profile-nav {
    height: 12vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
      text-align: left;
      color: white;
      font-size: 1.3rem;
      p {
        font-size: 1rem;
      }
      img {
        height: 100%;
      }
    }
    i:nth-child(1) {
        display: none;
    }
    i:nth-child(2) {
        background-color: transparent;
        margin: auto 0;
        color: white;
        font-size: 1.3rem;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
  }
  .dash-wrapper {
    height: 88vh;
    display: flex;
    overflow-y: scroll;
    .profile-sidebar {
      min-width: 10px;
      background-image: linear-gradient(
        to bottom,
        #100b1b,
        #181027,
        #22163a,
        #3a1742,
        #3e1f5a,
        #83207e,
        #94227b,
        #b14295,
      );
      margin-left: -15px;
      opacity: 0.9;
    }
    .profile-content-area {
      color: $text-color;
      overflow-y: scroll;
      .back-btn {
        color: white;
        background-color: #100b1b;
        padding: 10px;
        position: fixed;
        top: 12vh;
        left: 100px;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
        }
      }
      .back-btn:hover {
        cursor: pointer;
      }
      width: 83%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        width: 70%;
        height: fit-content;
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding-top: 200px;
        padding-bottom: 8%;
        .name {
          border-left: 5px solid lightgray;
          padding-left: 20px;
          h1 {
            font-size: 2.8rem;
            color: #c4515c;
          }
        }
        .delegate-card {
          padding: 10px;
          background-color: white;
          border-radius: 8px;
          display: flex;
          align-items: center;
          gap: 20px;
          width: 40%;
          text-align: center;
          p {
            color: #c4515c;
            font-weight: 700;
            font-size: 1.6rem;
            margin: 5px auto;
            span {
              color: black;
              font-size: 2.5rem;
            }
          }
          .qr {
            display: flex;
            justify-content: center;
            svg {
              width: 100%;
            }
          }
        }
        .grid {
          margin: 10px 0;
          width: 50%;
          display: grid;
          grid-template-columns: auto auto auto;
          div {
            h1 {
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
        .drivelink {
          width: 80%;
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          .upload {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 8px 0;
            padding: 20px;
            border: 1px solid grey;
            min-width: 45%;
            max-width: 70%;
            border-radius: 10px;
            &:hover {
              box-shadow: 0 0 1px 1px #c4515c;
            }
            input {
              margin: auto 0;
              color: white;
              border-bottom: none;
              padding: 5px;
              width: 40%;
            }
            input[type="file"]::file-selector-button {
              font-size: 1rem;
              color: $text-color;
              background-color: rgba(81, 109, 216, 0.26);
              border: none;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }
          .radio-btn {
            width: 40%;
            margin: 20px 0;
            align-items: center;
            justify-content: center;
            div {
              width: 100px;
              align-items: center;
              div {
                input[type="radio"] {
                  margin: auto 0;
                  -webkit-appearance: radio;
                }
                text-align: left;
                margin-left: 0;
                display: flex;
                justify-content: flex-start;
                align-items: start;
                label {
                  margin: 0 15px;
                }
                input{
                  align-self: center;
                }
              }
            }
          }
          button {
            padding: 5px 15px;
            width: 15%;
            font-size: 1rem;
            font-weight: 600;
            background-color: #22b6e6;
            border: none;
            border-radius: 8px;
          }
        }
      }
      .aagaz {
        position: fixed;
        right: -100px;
        opacity: 0.1;
        vertical-align: middle;
        transform: rotate(90deg);
      }
    }
    .extended{
      width: 100%;
      overflow-y: scroll;
      padding-bottom: 50px;
      .text{
        margin-top: 230px;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .layout-wrapper {
    .dash-wrapper {
      .profile-content-area {
        width: 100%;
        margin-top: 60px;
        overflow-y: scroll;
        .text {
          width: 80%;
          margin: 0 auto;
          .grid {
            width: 90%;
            grid-template-columns: auto;
            div {
              margin: 10px 0;
            }
          }
          .delegate-card {
            justify-content: space-around;
            width: 80%;
          }
        }
        align-items: baseline;
        justify-content: space-around;
        .aagaz {
          opacity: 0.05;
          position: absolute; /* new */
          top: 50%;
          transform: translatey(-50%) rotate(90deg);
          right: -150px;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .layout-wrapper {
    .dash-wrapper {
      .profile-sidebar {
        display: none;
      }
      .profile-content-area {
        width: 100%;
        margin-top: 60px;
        .back-btn {
          left: 4%;
        }
        .text {
          width: 80%;
          padding-top: 5rem;
          margin: 0 auto;
          .grid, .drivelink {
            width: 100%;
            .upload {
              flex-wrap: wrap;
              align-items: flex-start;
              min-width: 100%;
              gap: 10px;
              input {
                width: 60%;
              }
            }
            .radio-btn {
              width: 90%;
            }
            button {
              width: 40%;
            }
          }
          .delegate-card {
            justify-content: space-around;
            width: 100%;
          }
        }
        align-items: baseline;
        justify-content: space-around;
        .aagaz {
          opacity: 0.05;
          position: absolute; /* new */
          top: 50%;
          transform: translatey(-50%) rotate(90deg);
          right: -150px;
        }
      }
    }
  }
}
