$text-color: #c4c4c4;
.rads {
  display: inline-block;
}
.fa-check {
  color: #94227b;
}
.border-box {
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 5px;
  color: #c6a3ff;
  border: 1px solid;
  border-radius: 5px;
}
.layout-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .profile-nav {
    height: 12vh;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: left;
      color: white;
      font-size: 20.8px;
      font-size: 1.3rem;
      p {
        font-size: 16px;
        font-size: 1rem;
      }
      img {
        height: 100%;
      }
    }
    i:nth-child(1) {
      display: none;
    }
    i:nth-child(2) {
      background-color: transparent;
      margin: auto 0;
      color: white;
      font-size: 20.8px;
      font-size: 1.3rem;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
      }
    }
  }
  .dash-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    height: 88vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    .profile-sidebar {
      min-width: 10px;
      background-image: -webkit-linear-gradient(
        top,
        #100b1b,
        #181027,
        #22163a,
        #3a1742,
        #3e1f5a,
        #83207e,
        #94227b,
        #b14295
      );
      background-image: linear-gradient(
        to bottom,
        #100b1b,
        #181027,
        #22163a,
        #3a1742,
        #3e1f5a,
        #83207e,
        #94227b,
        #b14295
      );
      margin-left: -15px;
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    .profile-content-area {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
      color: $text-color;
      overflow-y: scroll;
      .back-btn {
        color: white;
        background-color: #100b1b;
        padding: 10px;
        position: fixed;
        top: 12vh;
        left: 100px;
        font-size: 17.6px;
        font-size: 1.1rem;
        font-weight: 600;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        i {
          margin-right: 10px;
        }
      }
      .back-btn:hover {
        cursor: pointer;
      }
      padding-top: 20px;
      width: 83%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .text {
        width: 70%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 19.2px;
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 32px;
        gap: 2rem;

        padding-bottom: 8%;
        .name {
          border-left: 5px solid lightgray;
          padding-left: 20px;
          h1 {
            font-size: 44.8px;
            font-size: 2.8rem;
            color: #c4515c;
          }
        }
        .delegate-card {
          padding: 10px;
          background-color: white;
          border-radius: 8px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          gap: 20px;
          width: 40%;
          text-align: center;
          p {
            color: #c4515c;
            font-weight: 700;
            font-size: 25.6px;
            font-size: 1.6rem;
            margin: 5px auto;
            span {
              color: black;
              font-size: 40px;
              font-size: 2.5rem;
            }
          }
          .qr {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            svg {
              width: 100%;
            }
          }
        }
        .grid {
          margin: 10px 0;
          width: 80%;
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: auto auto auto;
              grid-template-columns: auto auto auto;
          div {
            h1 {
              font-size: 16px;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
        .drivelink {
          width: 80%;
          margin: 10px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          .upload {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 8px 0;
            padding: 20px;
            border: 1px solid grey;
            min-width: 45%;
            max-width: 70%;
            border-radius: 10px;
            &:hover {
              box-shadow: 0 0 1px 1px #c4515c;
            }
            input {
              margin: auto 0;
              color: white;
              border-bottom: none;
              padding: 5px;
              width: 40%;
            }
            input[type="file"]::file-selector-button {
              font-size: 16px;
              font-size: 1rem;
              color: $text-color;
              background-color: rgba(81, 109, 216, 0.26);
              border: none;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }
          .radio-btn {
            width: 40%;
            margin: 20px 0;
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            div {
              width: 100px;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                          -ms-grid-row-align: center;
                      align-items: center;
              div {
                input[type="radio"] {
                  margin: auto 0;
                  -webkit-appearance: radio;
                }
                text-align: left;
                margin-left: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: start;
                label {
                  margin: 0 15px;
                }
                input {
                  -ms-flex-item-align: center;
                      align-self: center;
                }
              }
            }
          }
          button {
            padding: 5px 15px;
            width: 15%;
            font-size: 16px;
            font-size: 1rem;
            font-weight: 600;
            background-color: #22b6e6;
            border: none;
            border-radius: 8px;
          }
        }
      }
      .aagaz {
        
          opacity: 0.05;
        
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
          position: absolute; /* new */
          top: 50%;
          -webkit-transform: translatey(-50%) rotate(90deg);
                  transform: translatey(-50%) rotate(90deg);
          right: -80px;
        
      }
    }
    .extended {
      width: 100%;
      overflow-y: scroll;
      padding-top: 330px;
      padding-bottom: 50px;
      .text {
        margin-top: 230px;
      }
    }
    .extended-two {
      width: 100%;
      overflow-y: scroll;
      padding-top: 480px;
      padding-bottom: 50px;
      .text {
        margin-top: 230px;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .layout-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    .dash-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
      .extended-two,.extended{
        padding-top: 0px;
      }
      .profile-content-area {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
        width: 100%;
        margin-top: 60px;
        
        overflow-y: scroll;
        .text {
          width: 80%;
          margin: 0 auto;
          .grid {
            width: 90%;
            -ms-grid-columns: auto;
                grid-template-columns: auto;
            div {
              margin: 10px 0;
            }
          }
          .delegate-card {
            -ms-flex-pack: distribute;
                justify-content: space-around;
            width: 80%;
          }
        }
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                    -ms-grid-row-align: baseline;
                align-items: baseline;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        .aagaz {
          opacity: 0.05;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
          position: absolute; /* new */
          top: 50%;
          -webkit-transform: translatey(-50%) rotate(90deg);
                  transform: translatey(-50%) rotate(90deg);
          right: -150px;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .layout-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    .dash-wrapper {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
      .extended-two,.extended {
        padding-top: 0px;
      }
      .profile-sidebar {
        display: none;
      }
      .profile-content-area {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
        width: 100%;
        margin-top: 60px;
        .back-btn {
          left: 4%;
        }
        .text {
          width: 80%;
          padding-top: 80px;
          padding-top: 5rem;
          margin: 0 auto;
          .grid,
          .drivelink {
            width: 100%;
            .upload {
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              -webkit-box-align: start;
                  -ms-flex-align: start;
                          -ms-grid-row-align: flex-start;
                      align-items: flex-start;
              min-width: 100%;
              gap: 10px;
              input {
                width: 60%;
              }
            }
            .radio-btn {
              width: 90%;
            }
            button {
              width: 40%;
            }
          }
          .delegate-card {
            -ms-flex-pack: distribute;
                justify-content: space-around;
            width: 100%;
          }
        }
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                    -ms-grid-row-align: baseline;
                align-items: baseline;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        .aagaz {
          opacity: 0.05;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
          position: absolute; /* new */
          top: 50%;
          -webkit-transform: translatey(-50%) rotate(90deg);
                  transform: translatey(-50%) rotate(90deg);
          right: -150px;
        }
      }
    }
  }
}
