$text-color: #c4c4c4;
.rads{
  display: inline-block;
}
.border-box{
  font-size: 1rem;
  padding: 2px 5px;
  color: #c6a3ff;
  border: 1px solid;
  border-radius: 5px;
}
.layout-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .profile-nav {
    height: 12vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
      text-align: left;
      color: white;
      font-size: 1.3rem;
      p {
        font-size: 1rem;
      }
      img {
        height: 100%;
      }
    }
    i:nth-child(1) {
        display: none;
    }
    i:nth-child(2) {
        background-color: transparent;
        margin: auto 0;
        color: white;
        font-size: 1.3rem;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
  }
  .dash-wrapper {
    height: 88vh;
    display: flex;
    .profile-sidebar {
      width: 17%;
      background-image: radial-gradient(
        circle,
        #f5737f,
        #e96a76,
        #dc626d,
        #d05965,
        #c4515c
      );
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
    
    .profile-content-area {
      color: $text-color;
      .back-btn {
        color: white;
        position: fixed;
        top: 13vh;
        left: 18%;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
        }
      }
      .back-btn:hover {
        cursor: pointer;
      }
      width: 83%;
      overflow-y: hidden;
      //padding-bottom: 100px ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 100px;
        margin-top: 0;

        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .name {
          h1 {
            font-size: 2.8rem;
            color: #c4515c;
          }
         
        }
        .delegate-card {
          padding: 10px;
          background-color: white;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 70%;
          height: 160px;
          p {
            color: #c4515c;
            font-weight: 700;
            margin: 5px;
            span {
              color: black;
              font-weight: 500;
            }
          }
          .qr {
            svg {
              width: 100%;
            }
          }
        }
        .grid {
          margin: 10px 0;
          width: 70%;
          display: grid;
          grid-template-columns: auto auto auto;
          div {
            h1 {
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
        .drivelink {
          width: 70%;
          margin: 10px 0;
          display: flex;
          flex-direction: column;

          .upload {
            display: flex;

            input {
              margin-left: auto;
              color: white;

              border-bottom: none;
              padding: 5px;
              width: 70%;
              //height: 40px;
            }
            input[type="file"]::file-selector-button {
              //height: 40px;
              // margin-left: 20px;
              //width: 20%;
              font-size: 1rem;
              color: $text-color;
              background-color: rgba(81, 109, 216, 0.26);
              border: none;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }
          .radio-btn {
            
            

            //display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            //justify-content: space-around;
            div {
              input[type="radio"] {
                -webkit-appearance: radio;
              }
              margin-left: auto;
              display: flex;
              justify-content: center;
              label {
                margin: 0 15px;
              }
              input{
                align-self: center;
              }
            }

            
          }
          //  label {
          //   input{
          //     margin-left: auto;
          //   }
          // }

          button {
            margin: 0 auto;
            //height: 40px;
            padding: 5px 15px;
            //width: 20%;
            font-size: 1rem;
            font-weight: 600;
            background-color: #22b6e6;
            border: none;

            border-radius: 8px;
          }
        }
      }
      .aagaz {
        position: fixed;
        right: -100px;

        opacity: 0.1;
        vertical-align: middle;

        transform: rotate(90deg);
      }
    }
    .extended{
      overflow-y: scroll;
      padding-bottom: 100px ;
      .text{
        margin-top: 230px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .layout-wrapper {
    .dash-wrapper {
      .profile-content-area {
        width: 100%;

        margin-top: 60px;

        .text {
          width: 80%;
          margin: 0 auto;
          .grid {
            width: 90%;
          }
          .delegate-card {
            justify-content: space-around;
            width: 80%;
          }
        }
        align-items: baseline;
        justify-content: space-around;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .layout-wrapper {
    .dash-wrapper {
      .profile-sidebar {
        display: none;
      }
      .profile-content-area {
        width: 100%;

        margin-top: 60px;
        .back-btn {
          left: 4%;
        }

        .text {
          width: 80%;
          margin: 0 auto;
          .grid, .drivelink {
            width: 100%;
          }
          .delegate-card {
            justify-content: space-around;
            width: 100%;
          }
          // .name{
          //   display: flex;
          //   flex-direction: column;
          // }
        }
        align-items: baseline;
        justify-content: space-around;
        .aagaz {
          opacity: 0.05;
          position: absolute; /* new */
          top: 50%;
          transform: translatey(-50%) rotate(90deg);
          right: -150px;
        }
      }
    }
  }
}
