@import './../../styles/index.scss';
$delBlue: #22B6E6;
$delPurple: #C6A3FF;
.del-card {
  @include card-hover;
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("./../../assets/delback.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: 50;
  h1 {
    font-size: 30.4px;
    font-size: 1.9rem;
  }
  .del-type {
    border: 1px solid black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 5px;
    border-radius: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .del-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 500;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    p {
      font-size: 19.2px;
      font-size: 19.2px;
      font-size: 1.2rem;
    }
    .price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 10px;
      .clg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 10px 0;
        gap: 10px;
        width: 100%;
        h3 {
          font-size: 14.4px;
          font-size: 14.4px;
          font-size: 0.9rem;
        }
        p {
          font-size: 32px;
          font-size: 32px;
          font-size: 2rem;
        }
      }
    }
    button {
      @include button-hover;
      width: 100%;
      border: 0;
      border-radius: 10px;
      padding: 10px 0;
      background-color: rgb(228, 228, 228);      
    }
  }
}
.proshow {
  background-color: $delBlue;
  border: 0.1px solid #54c7ee;
}
.gaming {
  background-color: $delPurple;
  border: 0.1px solid #ebdeff;
}
.inf {
  background-color: black;
  border: 0.1px solid rgb(39, 39, 39);
  .price {
    color: white;
  }
  button {
    color: rgb(226, 226, 226);
  }
}
.workshops {
  background-color: rebeccapurple;
}
.general {
  background-color: #a123db;
}
.sports {
  background-color: rgb(247, 97, 97);
}
.bought:not(span) {
  cursor: default;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
@media only screen and (max-width: 812px) {
  .del-card {
    width: 100%;
  }
}
.hidden{
  visibility: hidden;
}
.not-active{
  opacity: 0.5;
 
}
button:disabled{
  opacity: 0.5;
}