.proshow-card {
    width: calc(100%/3.3);
    height: 550px;
    border-radius: 10px;
    .image-wrapper {
        border-radius: 10px;
        // background-image: url("./../../assets/Kuhad.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        .gradient {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: column;
                flex-flow: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            border-radius: 10px;
            height: 100%;
            padding: 20px;
            background: -webkit-linear-gradient(top, rgba(245, 115, 127, 0.08) 0.01%, rgba(0, 0, 0, 0.01) 0.02%  #E1460D 100%);
            background: linear-gradient(135deg, rgba(245, 115, 127, 0.08) 0.01%, rgba(0, 0, 0, 0.01) 20%, #E1460D 90%);
            .proshow-card-header {
                color: white;
                text-align: center;
                h6 {
                    letter-spacing: 15px;
                    font-size: 25.6px;
                    font-size: 1.6rem;
                }
                p {
                    font-size: 22.4px;
                    font-size: 1.4rem;
                }
            }
            .artist-name {
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: column;
                    flex-flow: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                color: white;
                h2 {
                    font-size: 48px;
                    font-size: 3rem;
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: 32px;
                    font-size: 2rem;
                }
            }
            button {
                border: 0;
                background-color: white;
                color: black;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-item-align: end;
                    align-self: flex-end;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding: 10px;
                border-radius: 10px;
                font-weight: bold;
            }
        }
    }
    &:hover {
        border: 3px solid white;
    }
}

@media only screen and (max-width: 800px) {
    .proshow-card {
        width: 100%;
    }
}