@import './../../styles/index.scss';
$event-card-background: #c6a3ff;
.event-card-wrapper {
  @include card-hover;
  width: calc(83% / 2.6);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  min-height: 300px;
  padding: 25px;
  background-color: $event-card-background;
  background-image: url("./../../assets/swivel.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 0.5rem;
  .event-content {
    z-index: 100;
    .event-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: white;
      .event-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        p {
          font-size: 0.95rem;
        }
        h3 {
          font-size: 1.4rem;
        }
      }
      .button-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        // uncomment for details button 
        // button:first-child {
        //   border: 1.5px solid white;
        //   margin-bottom: 2.5px;
        //   border-radius: 10px;
        //   background-color: transparent;
        //   padding: 2px 4px;
        //   text-transform: uppercase;
        //   color: white;
        //   pointer-events: none;
        // }
        button:last-child {
          // @include button-hover;
          pointer-events: none;
          border: 0;
          width: 100%;
          margin-top: 2.5px;
          border: 1px solid black;
          border-radius: 10px;
          background-color: transparent;
          padding: 2px 4px;
          // background-color: black;
          text-transform: uppercase;
          color: black;
        }
      }
    }
    .tags-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 5px;
      color: #3d2761;
    }
    .description {
      margin: 8px 0px;
      line-height: 20px;
    }
    .data-area {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px;
      .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: white;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
      }
    }
  }
}
@media only screen and (max-width: 812px) {
  .event-card-wrapper {
    width: 100%;
    padding: 15px;
    .event-content {
      .event-header {
        .button-area{ 
          width: 40%;
          button:first-child {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
