body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-wrapper{
  width: 300px;
  background-color: #080410;
  font-size: 1.5rem
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);  
}

.edit{
  font-size: 24px; 
  color: white; 
  cursor: pointer;
}