.proshow-wrapper {
    padding: 0rem;    
    display: block;
    // text-align: center;
    h1 {
        margin: 50px 0;
        font-size: 3rem;
        letter-spacing: 1rem;
    }
}
.proshow-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.button-bar{
    width: 83%;
    position: fixed;
    left: 17%;
    bottom: 0;
    padding: 20px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 19.2px;
    font-size: 1.2rem;
    &:hover {
        color: #F5737F;
        cursor: pointer;
    }
}
.buy-now{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem 0 1rem 1rem;
    background-color: white;
    color: black;
    padding: 1rem 3.5rem;
    border-radius: 20px 0 0 20px;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}
@media only screen and (max-width: 812px) {
    .button-bar {
        left: 0;
        width: 100%;
    }
    .buy-now{
        border-radius: 0;
        width: 100%;
        padding: 1.5rem;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
}
