.landing-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    position: relative;
    background: linear-gradient(358.51deg, #f1964f 20.07%, #1E84A5 120.93%);
    .svg-wrapper {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100vw;
        img {
            position: absolute;
        }
        img:nth-child(1) {
            bottom: 5%;
            z-index: 2;
        }
        img:nth-child(2) {
            bottom: -5%;
            z-index: 3;
        }
        img:nth-child(3) {
            bottom: -17%;
            z-index: 4;
        }
        img:nth-child(4) {
            right: 7%;
            bottom: -5%;
            z-index: 1;
        }
        img:nth-child(5) {
            right: 17%;
            bottom: 45%;
            z-index: 7;
        }
        img:nth-child(6) {
            top: 20%;
            z-index: 7;
            width: 100%;
        }
        img:nth-child(7) {
            bottom: -25%;
            left: -3%;
            z-index: 3;
        }
        
    }
    .content-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        nav {
            position: fixed;
            top: 0;
            width: 100vw;
            height: 12vh;
            padding: 10px;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            .landing-brand {
                display: flex;
                align-items: center;
                text-align: left;
                color: white;
                font-size: 1.3rem;
                p {
                    font-size: 3rem;
                }
                img {
                    height: 100%;
                }
                div {
                    display: flex;
                    align-items: center;
                }
            }
            i:nth-child(1) {
                display: none;
            }
            .landing-nav-links {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 30px;
                font-size: 2rem;
                color: white;
            }
        }
        .landing-title {
            color: white;
            z-index: 5;
            display: flex;
            flex-direction: column;
            .title{
                font-size: 14rem;
                margin: 0;
            }
            h5 {
                font-size: 2rem;
                margin: 0;
            }
            h5:first-child {
                align-self: flex-start;
                margin-bottom: -20px;
            }
            h5:last-child {
                align-self: flex-end;
                margin-top: -20px;
            }
        }
    }
}
@media only screen and (max-width: 812px) {
    .landing-wrapper{
        .svg-wrapper {
            img {
                left: -25%;
            }
            img:nth-child(1) {
                bottom: -5%;
            }
            img:nth-child(2) {
                bottom: -7%;
            }
            img:nth-child(3) {
                bottom: -17%;
            }
            img:nth-child(4) {
                bottom: -7%;
            }
            img:nth-child(5) {
                display: none;
            }
            img:nth-child(6) {
                top: 20%;
                width: 300%;
                left: -20%;
            }
            img:nth-child(7) {
                bottom: -35%;
                left: -10%;
            }
            
        }
        .content-wrapper {
            .landing-title {
                justify-content: center;
                .title{
                    text-align: center;
                    font-size: 9rem;
                }
                h5 {
                    text-align: center;
                }
                h5:first-child, h5:last-child {
                    align-self: center;
                }
            }
            nav {
                z-index: 100;
                flex-direction: column;
                i:first-child {
                    margin: 0 20px;
                    display: block;
                }
                .landing-brand {
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                }
                .landing-nav-links {
                    display: none;
                }
                .landing-nav-links.active {
                    display: flex;
                    padding: 5px;
                    flex-direction: column;
                    height: fit-content;
                    background-color: black;
                }
            }
        }
    }
}