$tile-color: #f5737f;
$purple: #a974ff;
.fa-ticket{
  color: $purple;
}
.small-font{
  font-size: 0.8rem;
}
.grey{
  color: #c4c4c4;
}
$event-card-background: #c6a3ff;
.public-details {
  padding: 10% 5%;
}
.event-details, .reg-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  .back-events {
    a {
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
  button {
    width: fit-content;
    margin: 10px 0;
    color: $purple;
    border: 1.5px solid $purple;
    border-radius: 10px;
    background-color: transparent;
    padding: 6px 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover {
      background-color: $purple;
      color: #100b1b;
    }
  }
  .event-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 10px 0;
    .event-data {
      .fa{
        color: $purple;
      }
      div {
        p {
          font-size: 1.4rem;
        }
      }
      p:last-child {
        font-size: 1.2rem;
      }
    }
  }
  .cat-event {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      height: 90px;
      border-radius: 50%;
    }
    .name-type {
      p:first-child {
        font-size: 1.3rem;
      }
      p:last-child {
        font-size: 1.8rem;
      }
    }
  }
}
.reg-modal-content {
  padding: 10px;
  .close-bar {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    i {
      cursor: pointer;
      &:hover { 
        color: $tile-color;
      }
    }
  }
  .reg-area {
    margin: 15px 0;
    button:not(.create) {
      border: 0;
      width: 100%;
      border-radius: 10px;
      padding: 10px 0;
      background-color: white;
    }
    .create {
      border: 0;
      width: 100%;
      border-radius: 10px;
      padding: 10px 0;
      margin: 10px 0;
      color: white;
      background-color: $tile-color;
    }
  }
}
.input-team {
  color: #dadada;
  background-color: rgba(37, 37, 37, 0.123);
  width: 400px;
}
.team-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ReactModal__Content {
  width: 25%;
}
@media screen and (max-width: 812px) {
  .ReactModal__Content {
    width: 97%;
  }
  .cat-event{
    img {
      height: 70px;
    }
  }
  .public-details {
    padding-top: 40%;
  }
}