nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 2rem;
    color: #f1f1f1;
}

.nav-item{
    position: fixed;
    top: 0;
    margin-right: auto;
    padding: 0.3rem ;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.list {
    list-style-type: none;
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #000;
    margin: 5px 15px;
    font-size: 3rem;
    font-weight: bolder;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media screen and (max-width: 500px){

    .list {
        flex-direction: column;
        justify-content: center;
        height: auto;
        background: rgba(0, 0, 0, 0.55);
    }
    .items:nth-child(1){
        margin-top: 30px;
    }
    .items {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }

}