.delegate-container {
  p {
    font-size: 15px;
  }
  .title {
    font-size: 30px;
    color: white;
    margin-left: 20px;
  }
  .del-flex {
    display: flex;
    flex-wrap: wrap;
    .delcardblue {
      flex: 1 0 21%;
      margin: 20px;
      border-radius: 10px;
      padding: 30px;
      font-size: 24px;
      background-color: #063858;
      background-image: url('../assets/blue.png');
      background-repeat: no-repeat;
      button {
        margin: 10px;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.85);
        border: none;
      }
    }
    .delcardblack {
      flex: 1 0 21%;
      margin: 20px;
      border-radius: 10px;
      padding: 30px;
      font-size: 24px;
      background-color: rgb(0, 0, 0);
      background-image: url('../assets/black.png');
      background-repeat: no-repeat;
      button {
        margin: 10px;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.85);
        border: none;
      }
    }
    .delcardpurple {
      flex: 1 0 21%;
      margin: 20px;
      border-radius: 10px;
      padding: 30px;
      font-size: 24px;
      background-color: #342749;
      background-image: url('../assets/purple.png');
      background-repeat: no-repeat;
      button {
        margin: 10px;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.85);
        border: none;
      }
    }
  }
}
.collegetype {
  margin-top: 10px;
  display: flex;
  font-size: large;
  justify-content: space-evenly;
  font-weight: bold;
}
