.proshow {
  display: flex;
  margin: 20px;
  .card {
    background-image: ('../assets/aagaz.png');
    button {
      background-color: white;
      color: black;
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}
